asgiref==3.8.1
Django==5.1.7
git-filter-repo==2.47.0
gunicorn==25.0.1
packaging==26.0
pillow==11.1.0
psycopg2-binary==2.9.11
python-dotenv==1.0.1
pytz==2025.1
sqlparse==0.5.3
tzdata==2025.1
whitenoise==6.11.0
